<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <link rel="stylesheet" href="keypad.css">
    <title>动态数字键盘</title>
</head>
<body>
<div class="btn-m-green m-t-30 float-right m-r-20" id="return_btn">
    返回
</div>
   <div class="toast-box hide">
       <div class="toast">
           Toast提示
       </div>
   </div>
   <audio controls id="audio_right" class="hide">
       <source src="audio/wait_call.mp3" type="audio/mpeg">
       您的浏览器不支持 audio 元素。
   </audio>
   <audio controls id="audio_wrong" class="hide">
       <source src="" type="audio/mpeg">
       您的浏览器不支持 audio 元素。
   </audio>


    <div class="keypad-top">
        <div class="keypad-shop-info">
            <span class="shop-name">请输入手机号</span>
        </div>
<!--        <div class="keypadNumlogo">-->
<!--            <span>￥</span>-->
<!--        </div>-->
        <label class="inputlabel" id="keypadNum" type="text"></label>
    </div>
    <div class="keypadinfo" id="keypad-close">
        <table cellspacing="0" cellpadding="0">
            <tr>
                <td class="" ></td>
                <td class="keypad-close">
                    <a href="javascript:return false;">
                        <label class="keypad-m close">
                            <img src="img/close.png">
                        </label>

                    </a>
                </td>
                <td class="" ></td>
            </tr>

            <!--            <tr>-->
            <!--                <td id="keypad-zero" colspan="1" class="keypadzero table-left table-bottom">0</td>-->
            <!--                <td id="keypad-zero" colspan="1" class="keypadzero table-left table-bottom">0</td>-->
            <!--                <td id="keypad-float" class="table-bottom">X</td>-->
            <!--            </tr>-->
        </table>
    </div>

    <div class="keypadinfo" id="keypad-open">
        <table cellspacing="0" cellpadding="0">
            <tr>
                <td class="keypadnum table-left"><label class="keypad-m">1</label></td>
                <td class="keypadnum"><label class="keypad-m">2</label></td>
                <td class="keypadnum table-right"><label class="keypad-m">3</label></td>
            </tr>
            <tr>
                <td class="keypadnum table-left"><label class="keypad-m">4</label></td>
                <td class="keypadnum"><label class="keypad-m">5</label></td>
                <td class="keypadnum table-right"><label class="keypad-m">6</label></td>
            </tr>
            <tr>
                <td class="keypadnum table-left"><label class="keypad-m">7</label></td>
                <td class="keypadnum"><label class="keypad-m">8</label></td>
                <td class="keypadnum table-right"><label class="keypad-m">9</label></td>
            </tr>
            <tr>
                <td class="keypadnum" ></td>
                <td class="keypadnum" ><label class="keypad-m">0</label></td>
                <td id="keypad-return">
                    <div class="keybord-return"></div>
                </td>
            </tr>
            <tr>
                <td class="" ></td>
                <td class="keypad">
                    <a href="javascript:return false;">
                        <label class="keypad-m">
                            <img src="img/phone.png">
                        </label>
                        <label class="keypad-m close hide">
                            <img src="img/close.png">
                        </label>

                    </a>
                </td>
                <td class="" ></td>
            </tr>

            <!--            <tr>-->
            <!--                <td id="keypad-zero" colspan="1" class="keypadzero table-left table-bottom">0</td>-->
            <!--                <td id="keypad-zero" colspan="1" class="keypadzero table-left table-bottom">0</td>-->
            <!--                <td id="keypad-float" class="table-bottom">X</td>-->
            <!--            </tr>-->
        </table>
    </div>

</body>
<script src="jquery.js"></script>
<script src="keypad.js"></script>
</html>