html, body {
    height: auto;
    width: 100% !important;
    min-width: 750px;
    font-size: 14px;
    color: #333333;
    word-break: break-all;
}
#container {
    height: 100%;
    width: 100%;
}

.bg-black{
    background-color: #1F2628 !important;
}
.bg-333{
    background-color: #333333 !important;
}
.title-box-border{
    background: rgba(31,38,40,0.8);
    border-radius: 48px;
    opacity: 1;
    border: 2px solid #DAFC70;
    padding: 40px 40px;
    position: relative;
}
#map-page .btn-m-green{
    /*position: absolute;*/
    /*top: 10px;*/
    
    left: 15px;
    font-size: 18px;
    padding: 10px 15px;
    height: 45px;
    position: fixed;
    bottom: 60px;
}
.btn-m-green{
    border-radius: 64px 24px 64px 24px;
    border: 2px solid #DAFC70;
    background-color: #DAFC70;
    font-size: 32px;
    font-weight: 500;
    color: #1F2628;
    line-height: 19px;
    display: inline-block;
    padding: 20px 30px;
    vertical-align: top;
    text-align: center;
}
.logo-t{
    color: white;
    margin-bottom: 50px;
    font-size: 60px;
    text-align: left;
    font-weight: bold;
    padding: 20px 0 0 40px;
}
.npc-name{
    border-radius: 64px 24px 64px 24px ;
    border: 2px solid #DAFC70;
    background-color:#DAFC70;
    font-size: 32px;
    font-weight: 500;
    color: #1F2628;
    line-height: 19px;
    display: inline-block;
    position: absolute;
    padding: 20px 30px;
    top:-30px;
}
.btn-mid{
    border-radius: 64px 24px 64px 24px ;
    border: 2px solid #DAFC70;
    background-color:#DAFC70;
    font-size: 32px;
    font-weight: 500;
    color: #1F2628;
    line-height: 19px;
    display: inline-block;
    padding: 20px 30px;
    margin: 20px auto 20px auto;

}
.hpa-ctr{
    padding: 12px 30px;
    background: #DAFC70;
    border-radius: 24px 0px 48px 0px;
    opacity: 1;
    position: absolute;
    display: inline-block;
    bottom:-1px;
    right:-1px;
    font-size: 32px;
    font-weight: 500;
    color: #1F2628;
}
.answer-tag{
    width: 88px;
    height: 88px;
    background: rgba(31,38,40,1);
    border-radius: 60px;
    opacity: 1;
    border: 2px solid #DAFC70;
    display: inline-block;
    font-size: 32px;
    font-weight: 500;
    line-height: 80px;
    text-align: center;
    position: absolute;
    left:0;
    top:-8px
}
.answer-title{
    font-size: 48px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 28px;
    letter-spacing: 2px;
    text-align: center;
}
.answer-detail{
    font-size: 32px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 28px;
    letter-spacing: 2px;
    text-align: center;
}
.answer-border{
    background: rgba(31,38,40,0.8);
    border-radius: 48px;
    opacity: 1;
    border: 1px solid rgba(255,255,255,0.4);
    padding: 12px 30px 12px 20px;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    color: #FFFFFF;
    position: relative;
}
.login-box-sm{
    background: rgba(31,38,40,0.8);
    border-radius: 48px;
    opacity: 1;
    padding: 12px 30px 12px 20px;
    text-align: left;
    font-size: 32px;
    font-weight: 600;
    color: #FFFFFF;
    position: relative;
}
.hide{
    display: none !important;
}
label{
    margin: 0;
}
rem{
    font-size: 20px;
}
.alert-note{
    width: 100%;
    min-height:50px;
    background:rgba(255,168,26,1);
    font-size: 24px;
    text-align: center;
    color: #fff;
    padding: 10px;

}
.tag-gray-1{
    height: auto;
    background: #f8f8f8;
    color: #B1B1B1;
    font-size: 26px;
    padding: 10px;
    margin: 0 10px 10px 0;
    line-height: 26px;
}
.vague{
    color: transparent;
    text-transform: uppercase;
    text-shadow: 0px 0px 12px #999999;
}
.img-30{
    width: 30px;
}
.img-40{
    width: 40px;
}
.img-140{
    width: 140px;
}
.img-200{
    width: 200px;
}
.img-250{
    width: 250px;
}
.img-w-100{
    width: 100%;
    height: auto;
}
.border-radius-r-5{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.border-radius-l-5{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.bg-E0{
    background-color: #E0ECEC;
}

.p-b-150{
    padding-bottom: 150px;
}
.h5-btn-green-big{
    background-color: #53BDB3;
    height: 70px;
    border-radius:5px;
    padding: 10px 30px;
    font-size: 28px;
    line-height: 50px;
    color: #ffffff;
}
.h5-btn-green-m{
    background-color: #53BDB3;
    height: 50px;
    border-radius:5px;
    padding: 10px 30px;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
}
.h5-btn-green-big-3{
    height:60px;
    background-color: #53BDB3;
    border-radius:5px;
    padding: 10px 30px;
    font-size: 24px;
    line-height: 40px;
    color: #ffffff;
}
.h5-btn-green-big2{
    height:110px;
    border:2px solid rgba(83,189,179,1);
    background-color: #53BDB3;
    font-size: 34px;
    font-weight: bold;
    line-height: 106px;
    color: #ffffff;
}
.h5-btn-green-big2.disable{
    height:110px;
    border:2px solid #CECECE;
    background-color: #CECECE;
    font-size: 34px;
    font-weight: bold;
    line-height: 106px;
    color: #ffffff;
}
.h5-btn-border-big{
    height:110px;
    border:2px solid rgba(83,189,179,1);
    font-size: 34px;
    font-weight: bold;
    line-height: 106px;
    color: #53BDB3;
}

.h5-btn-border-m{
    height:40px;
    border:1px solid rgba(83,189,179,1);
    padding: 0 20px;
    font-size: 24px;
    line-height: 38px;
    color:#53BDB3;
    background-color: RGBA(246, 250, 250, 1);
}

.note-login{
    background-color: rgba(245, 249, 249, 0.94);
    padding: 30px 40px 40px 40px;
    min-height: 270px;
    position: fixed;
    bottom: 110px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: normal;
    line-height: 1.2;
    color: inherit;
}
.h5 .bottomLine.nav-tabs a.active::after{
    width: 60px;
    height: 6px;
}
.h5 .nav-style-4.bottomLine.nav.nav-tabs li, .topLine.nav.nav-tabs li {
    padding: 0;
    margin-right: 0;
    margin-bottom: 10px;
    width: 50%;
    text-align: center;
}
.h5 .h-45 {
    height: 86px !important;
}
.h5 input {
    outline: none;
    background: none;
    border: none;
    padding: 0px!important;
    font-size: 28px;
}
.h5 select[name="sections"], select[name="mobile_section"] {
    width: 110px;
    font-size: 28px;
}
.h5 .invalid-feedback {
    font-size: 24px;
}
.h5 select {
    background-size: 15px;
}
.w-25{
    width: 25% !important;
}
.bottom-0{
    bottom: 0;
}
.bottom-110{
    bottom: 110px;
}
input[type="radio"] {
    width: 40px;
    height: 40px;
    opacity: 0;
}
input[type="radio"]+label::before {
    content: "";
    /*display: inline-block;*/
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1.5px solid rgb(214, 211, 211);
    background-color: #FFF;
    display: none;

}
.answer-border input[type="radio"]+label::before{
    display: none;
}
input[type="radio"]:checked+label::before {
    background-position: 50%;
    background-repeat: no-repeat;
    border: 8px solid #53BDB3;
    background-color: #ffffff;
}
.text-content{
    width: 100%;
    padding: 0 0 0 0;
    position: absolute;
    bottom: 0;
}
.text-bg{
    height: 80px;
    background: linear-gradient(180deg, rgba(51,51,51,0) 0%, #333333 100%);
    opacity: 1;
}
.p-l-40{
    padding: 0 40px  160px 40px;
    background-color: #333333;

}
.owl-dots{
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}
.owl-carousel button.owl-dot {
    width: 120px;
    height: 4px;
    background: #ffffff;
    border-radius: 0px 0px 0px 0px;
    opacity: 1;
    margin-right: 10px;
}
.owl-carousel button.owl-dot.active {
    width: 120px;
    height: 4px;
    background: #DAFC70;
    border-radius: 0px 0px 0px 0px;
    opacity: 1;
}
.marker_text{
    width: 40px;
    height: 40px;
    text-align: center;
    display: inline-block;
    line-height: 30px;
    font-size: 16px;
    color:#ffffff;
    background-image: url("../../img/map/marker_1.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.marker_user{
    width: 40px;
    height: 40px;
    text-align: center;
    display: inline-block;
    line-height: 30px;
    font-size: 16px;
    color:#ffffff;
    background-image: url("../../img/map/marker_2.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.map-info-box{
    position: absolute;
    bottom: 0;
    background: #ffffff;
    width: 100%;
    padding: 20px 20px 50px 20px;
    display:none;
}
.map-info-close{
    width: 20px;
    height: 20px;
    float: right;

}
.map-text-context{
    font-size: 20px;
}
.compass-text{
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 50px;
    font-size: 36px;
    color: #ffffff;
}
.box-center{
    text-align: center;
    position: absolute;
    bottom: 60px;
    left: 50%;
    margin-left: -80px;
}
.m-t-10{
    margin-top: 10px;
}
.m-t-20{
    margin-top: 20px;
}

.m-t-30{
    margin-top: 30px;
}

.m-t-40{
    margin-top: 40px;
}

.m-t-50{
    margin-top: 50px;
}
.loading-box{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: block;
    width: 100%;
    height: 100%;
    outline: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: calc(100% - (1.75rem * 2));
    background-color: rgba(0,0,0,0.8);
}
.loading-text{
    color:#ffffff;
    font-size: 40px;
    text-align: center;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    min-height: calc(100% - (1.75rem * 2));
    align-items: center;
}

/*lottery*/
.modal-lottery-bg{
    background: rgba(18,15,11,0.8);
    /*background-color: green;*/
    border-radius: 64px;
}
.btn-blue-m{
    width: 460px;
    height: 96px;
    background: #6171FF;
    border-radius: 48px;
    font-size: 32px;
    line-height: 96px;
    color: #FFFFFF;



}
@media (min-width: 576px){
    .modal-dialog {
        max-width: 600px;
        margin: 1.75rem auto;
    }
    .modal-content {
         box-shadow:none;
        /*border-radius: 8px;*/
    }
    .modal[id="alert"] .modal-content {
        width: 100%;
        font-size: 20px;
    }
}
