<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>H5指北针（指南针）演示程序</title>
  <meta name="viewport" content="width=750,user-scalable=no, target-densitydpi=device-dpi">
  <link rel="stylesheet" href="app.css">
</head>
<style>
  body{
    background-color: #0a0a0a;
  }
</style>

<body>
<div class="compass-text hide">
  距离<span class="color-red">--米</span>
</div>
<div class="box-center m-t-40">
  <div class="btn-m-green m-t-30  m-auto"  onclick="addPermission()">
    开启罗盘
  </div>
</div>


<div id="compass"></div>
<script type="text/javascript"
        src="https://webapi.amap.com/maps?v=1.4.15&key=4262d2f5e02f805f61b1027be27e3480"></script>
<script src="../../js/jquery/jquery.js"></script>
<script type="text/javascript" src="rap.js"></script>
<script type="text/javascript" src="hammer.js"></script>
<script type="text/javascript" src="compass.js"></script>
</body>

</html>