<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>H5指北针（指南针）演示程序</title>
  <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="app.css">
</head>

<body>
<div class="compass-text">
  距离<span class="color-red">24.m</span>
</div>
<div id="compass"></div>
<script type="text/javascript" src="rap.js"></script>
<script type="text/javascript" src="hammer.js"></script>
<script type="text/javascript" src="compass.js"></script>
</body>

</html>