<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
  <title>自适应显示多个点标记</title>
  <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css"/>
  <link rel="stylesheet" href="app.css"/>
  <style>
    html, body, #container {
      height: 100%;
      width: 100%;
    }

    .amap-icon img{
      width: 25px;
      height: 34px;
    }
  </style>
</head>
<body>
<div id="container"></div>

<div class="input-card">
  <h4>地图自适应</h4>
  <input id="setFitView" type="button" class="btn" value="地图自适应显示" />
</div>
<div class="info">
  <div id="centerCoord"></div>
  <div id="tips"></div>
</div>
<div class="map-info-box" id="map-info-box">
  <img decoding="async"  src="../../img/map/x.png" alt="First slide" class="map-info-close">
  <div class="map-text-context">

  </div>
</div>
<script type="text/javascript"
        src="https://webapi.amap.com/maps?v=1.4.15&key=4262d2f5e02f805f61b1027be27e3480"></script>
<script src="../../js/jquery/jquery.js"></script>
<script src="../../js/jquery.scrollto.js"></script>
<script src="../../js/jquery.cookie.js"></script>
<script src="../../js/popper/Popper.js"></script>
<script src="../../js/bootstrap/bootstrap.min.js"></script>
<script src="../../js/CheckForm.js"></script>
<script src="../../js/vcode.js"></script>
<script src="../../js/rightfixed.js"></script>
<script src="../../js/login.js"></script>
<script src="../../js/header.js"></script>
<script src="../../js/alert.js"></script>
<script src="../../js/myslideup.js"></script>
<script src="../../js/dropdown/dropdown.js"></script>
<script src="../../js/datePicker/bootstrap-datepicker.min.js"></script>
<script src="../../js/datePicker/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="../../js/datePicker.js"></script>
<script src="../../js/toTopH5.js"></script>
<script type="text/javascript"
        src="map.js"></script>
<script>
  function showPoiDetail() {
    var e=$(this);
    var text=e.find('.marker_text').attr("data-id");
    text=e.attr("data-id");
    text=$(this).attr('data-id');
    $("#map-info-box").show();
    console.log(text,e)
    $("#map-info-box .map-text-context").empty().text(text);
  }
</script>
</body>
</html>