.company-name-1{
    font-size: 26px;
    margin-right: 20px;
}
.note-login{}
.bottom-hewa-note{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.qa-pink{

}
.pink-border{
    border: 8px solid #E69B98;
}
.qa-pink .title-box-border{
    border: 4px solid #E69B98;
    background-color: #ffffff;
    color: #68605D;
    padding: 20px 40px;
}
.pink-right{
    width: auto;
    height: 38px;
}
.pink-help{
    vertical-align: bottom;
    /*position: absolute;*/
    bottom: 0;
    right: 10px;
    width: 100%;
    height: auto;
}
.qa-pink .answer-tag {
    width:100%;
    height: 88px;
    background: #E69B98;
    border-radius: 20px;
    opacity: 1;
    border: none;
    display: inline-block;
    font-size: 40px;
    font-weight: 500;
    line-height: 80px;
    text-align: center;
    position: relative;
    left: 0;
    top: -8px;
    color: #ffffff;
    box-shadow: 4px 6px 5px 2px rgba(0, 0, 0, 0.5);
}
.qa-pink .answer-btn{
    width: 100%;
}
.qa-pink .title-box-border .text-center{
    min-height: 200px;
}
.pink-ans-text{
    border: 4px solid #E69B98;
    display: block;
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 20px;
    text-align: center;
    box-shadow: 4px 6px 5px 2px rgba(0, 0, 0, 0.5);
}