<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>北京源乐晟资产管理有限公司</title>
    <meta name="description" content="北京源乐晟资产管理有限公司（原深圳市乐晟投资顾问有限公司），成立于2008年，公司核心成员均来自国内国际一流的资产管理公司和研究机构，经验丰富，无论是在低迷还是活跃的市场中，都取得了骄人的业绩。
        源乐晟坚持以规范化的风险管理为基础，以最大化的市场利益为追求，以最透明的监督为鞭策，为优秀人士提供高端的财富管理服务，并致力于发展成为中国本土私募基金的领先者。
        公司注册资本人民币1000万元，拥有完整的投资研究、风险管理和客户服务团队，具有出色的研究能力和敏锐的市场分析能力。" />
    <meta name="keywords" content="北京源乐晟资产管理有限公司（原深圳市乐晟投资顾问有限公司），成立于2008年，公司核心成员均来自国内国际一流的资产管理公司和研究机构，经验丰富，无论是在低迷还是活跃的市场中，都取得了骄人的业绩。
        源乐晟坚持以规范化的风险管理为基础，以最大化的市场利益为追求，以最透明的监督为鞭策，为优秀人士提供高端的财富管理服务，并致力于发展成为中国本土私募基金的领先者。
        公司注册资本人民币1000万元，拥有完整的投资研究、风险管理和客户服务团队，具有出色的研究能力和敏锐的市场分析能力。" />
    <meta name="author" content="http://www.mobocoo.com/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

    <!-- Favicone Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/logo.ico">
    <link rel="icon" type="image/png" href="img/logo-small.png">
    <link rel="apple-touch-icon" href="img/logo-small.png">

    <!-- CSS -->
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="css/ionicons.css" rel="stylesheet" type="text/css" />
    <link href="css/plugin/jPushMenu.css" rel="stylesheet" type="text/css" />
    <link href="css/plugin/animate.css" rel="stylesheet" type="text/css" />
    <link href="css/jquery-ui.css" rel="stylesheet" type="text/css" />

</head>

<body class="full-intro background--dark">




<!-- Site Wraper -->
<div class="wrapper">

    <!-- HEADER -->
    <header class="header" >
        <div class="container">

            <!-- logo -->
            <div class="logo">
                <a href="index.html">
                    <img class="l-black" src="img/logo-black.png" />
                    <img class="l-white" src="img/logo-white.png" />
                    <img class="l-color" src="img/logo-color.png" />
                </a>
            </div>
            <!--End logo-->


            <!-- Navigation Menu -->
            <nav class='navigation'>
                <ul>
                    <li class="nav-has-sub active">
                        <a href="about-us-company.html" >关于我们</a>
                        <ul class="nav-dropdown">
                            <li><a href="about-us-company.html">公司概况</a></li>
                            <li><a href="about-us-develop-history.html">发展历程</a></li>
                            <li><a href="about-us-invest-idea.html">投资理念</a></li>
                            <li><a href="about-us-team.html">核心团队</a></li>
                            <li><a href="about-us-recruit.html">招贤纳士</a></li>
                            <li><a href="about-us-contact.html">联系我们</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="customer-zone.html" class="scroll-to-target">旗下产品</a>
                    </li>
                    <li>
                        <a href="customer-zone.html" class="scroll-to-target">客户专区</a>
                    </li>
                    <li>
                        <a href="notices.html" class="scroll-to-target">公司公告</a>
                    </li>
                    <li class="lan">
                        <a href=""  >
                            <label  class="header-lan-btn">
                                English
                            </label>
                        </a>
                    </li>
                </ul>
            </nav>
            <!--End Navigation Menu -->

        </div>
    </header>
    <!-- END HEADER -->


    <!-- CONTENT --------------------------------------------------------------------------------->

    <!-- Intro Section -->
    <section class="inner-intro bg-invest ">
        <div class="container">
            <!--<div class="row title">-->
            <!--<h2 class="h2">Sidebar</h2>-->
            <!--<div class="page-breadcrumb">-->
            <!--<a>Home</a>/<span>Sidebar Left</span>-->
            <!--</div>-->
            <!--</div>-->
        </div>
    </section>
    <div class="clearfix"></div>
    <!-- End Intro Section -->


    <!-- Sidebar Section -->
    <section class="ptb ptb-sm-20">
        <div class="container about-us">
            <div class="row">
                <div class="col-md-3 col-sm-4 mt-xs-30 mobile-display-none">

                    <div class="sidebar-widget">
                        <h4>关于我们</h4>
                        <hr>
                        <ul>
                            <li ><a href="about-us-company.html">公司概况</a></li>
                            <li><a href="about-us-develop-history.html">发展历程</a></li>
                            <li class="active"><a href="about-us-invest-idea.html">投资理念</a></li>
                            <li><a href="about-us-team.html">核心团队</a></li>
                            <li><a href="about-us-recruit.html">招贤纳士</a></li>
                            <li ><a href="about-us-contact.html">联系我们</a></li>
                        </ul>
                    </div>


                </div>
                <div class="col-md-9 col-sm-8">
                    <p class="invest-title">
                        投资理念
                    </p>
                    <p class="invest-key-word">
                        绝对回报追求者；价值挖掘者；趋势跟随者；风险控制者。
                    </p>
                    <p class="invest-title">
                        投资策略
                    </p>
                    <p class="lead">
                        源乐晟实施账户经理负责制的管理模式，采取自上而下的行业配置程序和自下至上的股票选择程序。
                    </p>
                    <br>
                    <p class="lead margin-bottom-60">
                        “自上而下”是一种高屋建瓴的研究方法，通过分析宏观政策、经济和行业数据、各行业发展情况来判断未来一段时间各上市公司所处行业的整体变化，其研究结果直接决定一个账户资金的行业配置策略。“自下而上”是通过数量分析对股票进行初步筛选，再经过基本面调研、价值评估等手段构建或者调整投资组合的方法。
                    </p>
                    <p class="invest-progress">
                        行业配置程序如图
                    </p>
                    <img src="img/invest-progress.png" class="img-responsive invest-progress-img">


                </div>
            </div>

        </div>
    </section>
    <!-- End Sidebar Section -->

    <!-- End CONTENT ------------------------------------------------------------------------------>

    <!-- FOOTER -->
    <footer class="footer">
        <div class="container">
            <!--Footer Info -->
            <div class="row footer-info text-center">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <span class="margin-10 footer-m-span">版权所有<span class="footer-text-bold">北京源乐晟资产管理有限公司</span></span>
                    <span class="margin-10 footer-m-span"> 地址：北京市朝阳区东三环中路9号富尔大厦1605室 </span>
                    <span class="margin-10 footer-m-span">京公网安备110117000007号</span>
                    <!--<p>Copyright @ 2008-2010 longrising.cn </p>-->
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 ">
                    <span class="footer-text-bold margin-10 footer-m-span"><i class="fa fa-phone left"></i>客服热线：400-112-8866 </span>
                    <span class="footer-text-bold margin-10 footer-m-span"><i class="fa fa-envelope-o left"></i>Email:client@longrising.cn</span>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 ">
                    <span class=" footer-m-span color-666">网站设计与技术支持：<a href="http://www.mobocoo.com" target="_blank" class="color-666">Mobocoo</a></span>
                </div>
            </div>
            <!-- End Footer Info -->
        </div>
    </footer>
    <!-- END FOOTER -->

    <!-- Scroll Top -->
    <a class="scroll-top">
        <i class="fa fa-angle-double-up"></i>
    </a>
    <!-- End Scroll Top -->

</div>
<!-- Site Wraper End -->


<!-- JS -->

<script src="js/jquery-1.11.2.min.js" type="text/javascript"></script>

<script src="js/plugin/jquery.easing.js" type="text/javascript"></script>
<script src="js/jquery-ui.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/plugin/jquery.flexslider.js" type="text/javascript"></script>
<script src="js/plugin/background-check.min.js" type="text/javascript"></script>
<script src="js/plugin/jquery.fitvids.js" type="text/javascript"></script>
<script src="js/plugin/jquery.viewportchecker.js" type="text/javascript"></script>
<script src="js/plugin/jquery.stellar.min.js" type="text/javascript"></script>
<script src="js/plugin/wow.min.js" type="text/javascript"></script>
<script src="js/plugin/jquery.colorbox-min.js" type="text/javascript"></script>
<script src="js/plugin/owl.carousel.min.js" type="text/javascript"></script>
<script src="js/plugin/isotope.pkgd.min.js" type="text/javascript"></script>
<script src="js/plugin/masonry.pkgd.min.js" type="text/javascript"></script>
<script src="js/plugin/imagesloaded.pkgd.min.js" type="text/javascript"></script>
<script src="js/plugin/jPushMenu.js" type="text/javascript"></script>
<script src="js/plugin/jquery.fs.tipper.min.js" type="text/javascript"></script>
<script src="js/plugin/mediaelement-and-player.min.js"></script>
<script src="js/theme.js" type="text/javascript"></script>
<script src="js/navigation.js" type="text/javascript"></script>
<script src="js/plugin/jquery.simple-text-rotator.min.js" type="text/javascript"></script>

</body>
</html>



