<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>北京源乐晟资产管理有限公司</title>
    <meta name="description" content="北京源乐晟资产管理有限公司（原深圳市乐晟投资顾问有限公司），成立于2008年，公司核心成员均来自国内国际一流的资产管理公司和研究机构，经验丰富，无论是在低迷还是活跃的市场中，都取得了骄人的业绩。
        源乐晟坚持以规范化的风险管理为基础，以最大化的市场利益为追求，以最透明的监督为鞭策，为优秀人士提供高端的财富管理服务，并致力于发展成为中国本土私募基金的领先者。
        公司注册资本人民币1000万元，拥有完整的投资研究、风险管理和客户服务团队，具有出色的研究能力和敏锐的市场分析能力。" />
    <meta name="keywords" content="北京源乐晟资产管理有限公司（原深圳市乐晟投资顾问有限公司），成立于2008年，公司核心成员均来自国内国际一流的资产管理公司和研究机构，经验丰富，无论是在低迷还是活跃的市场中，都取得了骄人的业绩。
        源乐晟坚持以规范化的风险管理为基础，以最大化的市场利益为追求，以最透明的监督为鞭策，为优秀人士提供高端的财富管理服务，并致力于发展成为中国本土私募基金的领先者。
        公司注册资本人民币1000万元，拥有完整的投资研究、风险管理和客户服务团队，具有出色的研究能力和敏锐的市场分析能力。" />
    <meta name="author" content="http://www.mobocoo.com/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

    <!-- Favicone Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/logo.ico">
    <link rel="icon" type="image/png" href="img/logo-small.png">
    <link rel="apple-touch-icon" href="img/logo-small.png">

    <!-- CSS -->
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="css/ionicons.css" rel="stylesheet" type="text/css" />
    <link href="css/plugin/jPushMenu.css" rel="stylesheet" type="text/css" />
    <link href="css/plugin/animate.css" rel="stylesheet" type="text/css" />
    <link href="css/jquery-ui.css" rel="stylesheet" type="text/css" />

</head>

<body class="full-intro background--dark">




<!-- Site Wraper -->
<div class="wrapper">

    <!-- HEADER -->
    <header class="header" >
        <div class="container">

            <!-- logo -->
            <div class="logo">
                <a href="index.html">
                    <img class="l-black" src="img/logo-black.png" />
                    <img class="l-white" src="img/logo-white.png" />
                    <img class="l-color" src="img/logo-color.png" />
                </a>
            </div>
            <!--End logo-->


            <!-- Navigation Menu -->
            <nav class='navigation'>
                <ul>
                    <li class="nav-has-sub active">
                        <a href="about-us-company.html" >关于我们</a>
                        <ul class="nav-dropdown ">
                            <li><a href="about-us-company.html">公司概况</a></li>
                            <li><a href="about-us-develop-history.html">发展历程</a></li>
                            <li><a href="about-us-invest-idea.html">投资理念</a></li>
                            <li><a href="about-us-team.html">核心团队</a></li>
                            <li><a href="about-us-recruit.html">招贤纳士</a></li>
                            <li><a href="about-us-contact.html">联系我们</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="customer-zone.html" class="scroll-to-target">旗下产品</a>
                    </li>
                    <li>
                        <a href="customer-zone.html" class="scroll-to-target">客户专区</a>
                    </li>
                    <li>
                        <a href="notices.html" class="scroll-to-target">公司公告</a>
                    </li>
                    <li class="lan">
                        <a href=""  >
                            <label  class="header-lan-btn">
                                English
                            </label>
                        </a>
                    </li>
                </ul>
            </nav>
            <!--End Navigation Menu -->

        </div>
    </header>
    <!-- END HEADER -->

    <!-- CONTENT --------------------------------------------------------------------------------->

    <!-- Intro Section -->
    <section class="inner-intro bg-team ">
        <div class="container">
            <!--<div class="row title">-->
            <!--<h2 class="h2">Sidebar</h2>-->
            <!--<div class="page-breadcrumb">-->
            <!--<a>Home</a>/<span>Sidebar Left</span>-->
            <!--</div>-->
            <!--</div>-->
        </div>
    </section>
    <div class="clearfix"></div>
    <!-- End Intro Section -->


    <!-- Sidebar Section -->
    <section class="ptb ptb-sm-20">
        <div class="container about-us">
            <div class="row">
                <div class="col-md-3 col-sm-4 mt-xs-30 mobile-display-none">

                    <div class="sidebar-widget">
                        <h4>关于我们</h4>
                        <hr>
                        <ul>
                            <li ><a href="about-us-company.html">公司概况</a></li>
                            <li><a href="about-us-develop-history.html">发展历程</a></li>
                            <li ><a href="about-us-invest-idea.html">投资理念</a></li>
                            <li class="active"><a href="about-us-team.html">核心团队</a></li>
                            <li><a href="about-us-recruit.html">招贤纳士</a></li>
                            <li ><a href="about-us-contact.html">联系我们</a></li>
                        </ul>
                    </div>


                </div>
                <div class="col-md-9 col-sm-8">
                    <p class="invest-title">
                        核心团队
                    </p>
                    <div class="row">
                        <div class="col-md-4 col-sm-6 mb-30">
                            <div class="team-item">
                                <div class="team-item-img">
                                    <a class="hidden-over-y" data-toggle="modal" data-target="#team1">
                                        <img src="img/pic_team_01.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="team-item-info">
                                    <h4>曾晓洁</h4>
                                    <p class="color-888">投决会主席 投资总监 投资经理</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 mb-30">
                            <div class="team-item">
                                <div class="team-item-img">
                                    <a class="hidden-over-y" data-toggle="modal" data-target="#team2">
                                        <img src="img/pic_team_02.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="team-item-info">
                                    <h4>吕小九</h4>
                                    <p class="color-888">研究总监 投资经理</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 mb-30">
                            <div class="team-item">
                                <div class="team-item-img">
                                    <a class="hidden-over-y" data-toggle="modal" data-target="#team3">
                                        <img src="img/pic_team_03.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="team-item-info">
                                    <h4>杨建海</h4>
                                    <p class="color-888">管理合伙人 投资经理</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 mb-30">
                            <div class="team-item">
                                <div class="team-item-img">
                                    <img src="img/pic_team_04.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="team-item-info">
                                    <h4>巴菲特</h4>
                                    <p class="color-888">投决会主席 投资总监 投资经理</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 mb-30">
                            <div class="team-item">
                                <div class="team-item-img">
                                    <img src="img/pic_team_05.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="team-item-info">
                                    <h4>索罗斯</h4>
                                    <p class="color-888">研究总监 投资经理</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 mb-30">
                            <div class="team-item">
                                <div class="team-item-img">
                                    <img src="img/pic_team_06.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="team-item-info">
                                    <h4>比尔盖茨</h4>
                                    <p class="color-888">管理合伙人 投资经理</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>
    <!-- End Sidebar Section -->

    <!-- End CONTENT ------------------------------------------------------------------------------>

    <!-- FOOTER -->
    <footer class="footer">
        <div class="container">
            <!--Footer Info -->
            <div class="row footer-info text-center">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <span class="margin-10 footer-m-span">版权所有<span class="footer-text-bold">北京源乐晟资产管理有限公司</span></span>
                    <span class="margin-10 footer-m-span"> 地址：北京市朝阳区东三环中路9号富尔大厦1605室 </span>
                    <span class="margin-10 footer-m-span">京公网安备110117000007号</span>
                    <!--<p>Copyright @ 2008-2010 longrising.cn </p>-->
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 ">
                    <span class="footer-text-bold margin-10 footer-m-span"><i class="fa fa-phone left"></i>客服热线：400-112-8866 </span>
                    <span class="footer-text-bold margin-10 footer-m-span"><i class="fa fa-envelope-o left"></i>Email:client@longrising.cn</span>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 ">
                    <span class=" footer-m-span color-666">网站设计与技术支持：<a href="http://www.mobocoo.com" target="_blank" class="color-666">Mobocoo</a></span>
                </div>
            </div>
            <!-- End Footer Info -->
        </div>
    </footer>
    <!-- END FOOTER -->


    <!-- Scroll Top -->
    <a class="scroll-top">
        <i class="fa fa-angle-double-up"></i>
    </a>
    <!-- End Scroll Top -->


</div>
<!-- Site Wraper End -->
<!-- Modal -->
<div class="modal fade" id="team1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="font-36">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">曾晓洁</h4>
                <span class="color-888">投决会主席 投资总监 投资经理</span>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5">
                        <img src="img/pic_team_01.jpg" alt="" class="img-responsive modal-header-img">
                    </div>
                    <div class="col-md-7">
                        <p class="modal-text-666">
                            北京大学金融学硕士、经济学学士，曾就职中国人寿保险资金运用中心、中国人寿资产管理有限公司，10年证券从业经验，历任研究员、基金经理助理、基金经理，曾主管第三方委托资金的股票投资业务，负责中小保险公司的委托资金以及十几家年金的股票投资，并以优异的投资业绩为合作伙伴创造了巨大的财富；因多年的保险资金及企业年金管理经验，形成了绝对回报和价值投资的风格。
                        </p>
                        <p class="modal-text-666">
                            曾晓洁管理的“乐晟股票精选”已为投资人创造了超过400%的投资收益，因其所管理产品长期稳健并兼具成长性的净值表现，曾晓洁分别于2010年、2012年、2013年三获国内最权威的阳光私募奖项“金牛阳光私募投资经理”，并连续获得“年度明星私募基金经理”等荣誉，是目前国内唯一三次获得“金牛阳光私募投资经理”奖的私募投资经理。
                        </p>
                        <p class="modal-text-666">
                            现负责公司整体投资决策及投资部门的工作。
                        </p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="team2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="font-36">&times;</span></button>
                <h4 class="modal-title" >吕小九</h4>
                <span class="color-888">研究总监 投资经理</span>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5">
                        <img src="img/pic_team_02.jpg" alt="" class="img-responsive modal-header-img">
                    </div>
                    <div class="col-md-7">
                        <p class="modal-text-666">
                            北京大学经济学硕士、南开大学管理学学士，曾先后就职于中国人寿保险股份有限公司、中信证券股份有限公司及交银国际控股有限公司，9年证券从业经验。曾连续三年获得或入围《新财富》银行业最佳分析师、《证券市场周刊》银行业最佳分析师、《21世纪经济报道》银行业金牌分析师等奖项，曾作为主承销商分析师参与了多家银行的IPO项目，具有丰富的宏观经济和金融行业研究积累，形成了系统的至上而下宏观策略研究体系以及独特的行业公司分析框架。                        </p>
                        <p class="modal-text-666">
                            现负责公司研究部门工作。
                        </p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="team3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="font-36">&times;</span></button>
                <h4 class="modal-title" >杨建海</h4>
                <span class="color-888">管理合伙人 投资经理</span>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5">
                        <img src="img/pic_team_03.jpg" alt="" class="img-responsive modal-header-img">
                    </div>
                    <div class="col-md-7">
                        <p class="modal-text-666">
                            北京大学金融学硕士、中央财经大学经济学学士，曾就职交通银行、光大证券研究所、安信证券研究中心，9年证券从业经验。在安信证券从业期间，历任分析师、高级分析师、首席分析师和安信证券投资（香港）投资总监。作为研究员，获得新财富、水晶球、金牛奖等各类奖项的“最佳分析师”。作为投资经理，取得了相对市场基准15%的超额收益。                        </p>
                        <p class="modal-text-666">
                            多年的金融行业研究工作，形成了紧密跟踪经济走势变化的思维框架，同时多年的海外投资研究工作，对互联网等经济转型受益行业有深入的聚焦，投资体系严密、完整兼具开放性，可以较好的适应市场风格转换，为客户创造更大的价值！                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- JS -->

<script src="js/jquery-1.11.2.min.js" type="text/javascript"></script>

<script src="js/plugin/jquery.easing.js" type="text/javascript"></script>
<script src="js/jquery-ui.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/plugin/jquery.flexslider.js" type="text/javascript"></script>
<script src="js/plugin/background-check.min.js" type="text/javascript"></script>
<script src="js/plugin/jquery.fitvids.js" type="text/javascript"></script>
<script src="js/plugin/jquery.viewportchecker.js" type="text/javascript"></script>
<script src="js/plugin/jquery.stellar.min.js" type="text/javascript"></script>
<script src="js/plugin/wow.min.js" type="text/javascript"></script>
<script src="js/plugin/jquery.colorbox-min.js" type="text/javascript"></script>
<script src="js/plugin/owl.carousel.min.js" type="text/javascript"></script>
<script src="js/plugin/isotope.pkgd.min.js" type="text/javascript"></script>
<script src="js/plugin/masonry.pkgd.min.js" type="text/javascript"></script>
<script src="js/plugin/imagesloaded.pkgd.min.js" type="text/javascript"></script>
<script src="js/plugin/jPushMenu.js" type="text/javascript"></script>
<script src="js/plugin/jquery.fs.tipper.min.js" type="text/javascript"></script>
<script src="js/plugin/mediaelement-and-player.min.js"></script>
<script src="js/theme1.js" type="text/javascript"></script>
<script src="js/navigation.js" type="text/javascript"></script>
<script src="js/plugin/jquery.simple-text-rotator.min.js" type="text/javascript"></script>

</body>
</html>



